<h2>Thông báo </h2>
<form method="post" asp-action="Index" asp-controller="Notification">
    <p>Tiêu đề: <input type="text" name="Title"/></p>
    <p>Nội dung: <input type="text" name="Content" /></p>

    <input class="btn btn-success" type="submit" value="Gửi" />
</form>
